@use '@material/top-app-bar/mdc-top-app-bar';

.mdc-top-app-bar {
    //transition: transform .15s;
    position: relative;
}

.mdc-top-app-bar__section--align-center {
    justify-content: center;
}

.mdc-top-app-bar--fixed {
    position: fixed;
}

.mdc-top-app-bar--dense {
    transition: transform .1s;
}

.mdc-top-app-bar--prominent {
    transition: transform .2s;
}

.mdc-top-app-bar--sticky {
    position: sticky;
    top: 0;
    z-index: 7;
}

.mdc-top-app-bar--sticky-hidden {
    transform: translateY(-100%);
    transition: transform .2s;
}

.mdc-top-app-bar--sticky-shown {
    transform: translateY(0);
    transition: transform .2s;
}