{
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "extends": [
        "plugin:react/recommended",
        "prettier",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
                "MemberExpression": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-console": "error",
        "react/prop-types": "off"
    },
    "plugins": ["react"],
    "overrides": [
        {
            "files": ["*.js", ".jsx"],
            "excludedFiles": "*/public/*.js",
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ]
}
