.mdc-banner {
    background-color: #6200ee;
    color: #fff;
    padding: 16px;
    width: 100%;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        margin-right: 12px;
        width: 24px;
    }

    &__text {
        margin: 0;

        a {
            color: white;
        }
    }

    &__action {
        margin-left: 12px;
    }
}