@import '@material/theme/mixins';
@import '@material/ripple/mixins';

.mdc-banner {
    @include mdc-theme-prop(background-color, secondary);
    @include mdc-theme-prop(color, on-secondary);

    & &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }

    & &__icon {
        margin-right: 12px;
        width: 24px;
    }

    & &__text {
        margin: 0;

        a {
            color: inherit;
        }
    }

    & &__action {
        @include mdc-theme-prop(background-color, secondary, true);
        @include mdc-theme-prop(color, on-secondary, true);
        @include mdc-states(on-secondary);
        margin-left: 12px;
    }
}