@use '@material/animation';
@use '@material/theme';

$mdc-tooltip-text-color: white !default;
$mdc-tooltip-background-color: theme.$grey-700 !default;
$mdc-tooltip-font-size: 10px !default;
$mdc-tooltip-font-size-large: 14px !default;

.mdc-tooltip {
    position: absolute;
    display: inline-block;
    max-width: 170px;
    padding: 8px;
    text-align: center;
    font-size: $mdc-tooltip-font-size;
    font-weight: 500;
    line-height: 14px;
    color: $mdc-tooltip-text-color;
    background: $mdc-tooltip-background-color;
    border-radius: 2px;
    transform: scale(0) translateX(-50%);
    transform-origin: top left;
    z-index: 999;
}

.mdc-tooltip--active {
    animation: appear 200ms animation.$deceleration-curve-timing-function forwards;
}

.mdc-tooltip--large {
    line-height: 14px;
    font-size: $mdc-tooltip-font-size-large;
    padding: 16px;
}

@keyframes appear {
    0% {
        transform: scale(0) translateX(-50%);
        opacity: 0;
    }

    50% {
        // Fixes a weird bug with the interaction between Safari and the result of
        // the SASS compilation for the animation.
        // Essentially, we need to make sure that "50%" and "100%" don't get merged
        // into a single "50%, 100%" entry, so we need to avoid them having any
        // matching properties.
        transform: scale(0.99) translateX(-50%);
    }
    
    100% {
        transform: scale(1) translateX(-50%);
        opacity: 1;
        visibility: visible;
    }
}