@import '@material/theme/mdc-theme';
@import '@material/typography/mixins';
@import '@material/card/mdc-card';

.mdc-card {
    .mdc-card__title {
        @include mdc-typography(headline6);

        margin: 0;
    }

    .mdc-card__subtitle {
        @include mdc-typography(body2);
        @include mdc-theme-prop(color, text-secondary-on-light);

        margin: 0;
    }

    .mdc-card__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;

        &-image {

        }

        &-icon {
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }
    }

    .mdc-card__header {
        display: flex;
        align-items: center;
        padding: 16px;
        border-radius: 2px 2px 0 0;

        .mdc-card__header-title {
            @include mdc-typography-overflow-ellipsis;

            margin-right: auto;
        }

        .mdc-card__title {
            @include mdc-typography(body1);
            @include mdc-theme-prop(color, text-primary-on-light);
            @include mdc-typography-overflow-ellipsis;

            &.mdc-card__title--large {
                @include mdc-typography(headline5);
            }
        }

        .mdc-card__icon {
            margin-left: 0;
            margin-right: 32px;
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        &.mdc-card__header--with-avatar,
        &.mdc-card__header--with-icon, {
            display: flex;
            align-items: center;

            .mdc-card__avatar {
                margin-left: 0;
                margin-right: 16px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }

    .mdc-card__section {
        width: 100%;
        box-sizing: border-box;
        @include mdc-typography(body2);

        &:last-child {
            padding-bottom: 24px;
        }

        p:last-child {
            margin-bottom: 0;
        }
        
        &.mdc-card__section--primary {
            @include mdc-theme-prop(color, text-primary-on-background);
            padding: 16px;
    
            .mdc-card__title--large {
                padding-top: 8px;
            }
    
            &:last-child {
                padding-bottom: 24px;
            }
        }
    
        &.mdc-card__section--secondary {    
            @include mdc-theme-prop(color, text-secondary-on-background);
            padding: 8px 16px;
        }
    }

    .mdc-card__header + .mdc-card__section {
        padding-top: 0;
    }

    .mdc-card__actions:last-child {
        margin-top: auto;
    }
}