@import '@material/theme/mixins';
@import '@material/typography/mixins';
@import '@material/card/mdc-card';

.mdc-card {
    .mdc-card__header {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border-radius: 2px 2px 0 0;

        .mdc-card__header__graphic {
            @include mdc-theme-prop(color, text-secondary-on-light);
            margin-right: 16px;
        }

        .mdc-card__header__text {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .mdc-card__header__title {
            @include mdc-typography(headline6);
            @include mdc-theme-prop(color, text-primary-on-light);
            @include mdc-typography-overflow-ellipsis;
            margin: 0;

            + .mdc-card__header__subtitle {
                line-height: 1.5rem;
            }
        }
    
        .mdc-card__header__subtitle {
            @include mdc-typography(body2);
            @include mdc-theme-prop(color, text-secondary-on-light);
            margin: 0;
        }

        .mdc-card__header__action {
            margin-left: auto;
        }

        .mdc-card__header__graphic,
        .mdc-card__header__action {
            &.mdc-icon-button,
            .mdc-icon-button {
                @include mdc-theme-prop(color, text-secondary-on-light);
                width: 32px;
                height: 32px;
                padding: 4px;
            }
        }
    }

    .mdc-card__media {
        overflow: hidden;
        
        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .mdc-card__section {
        box-sizing: border-box;
        
        
        &.mdc-card__section--primary {
            padding: 8px 16px;
        }
    
        &.mdc-card__section--secondary {    
            padding: 0 16px 8px;
        }
    }

    .mdc-card__actions:last-child {
        margin-top: auto;
    }
}