@use './variables';

.mdc-icon {
    user-select: none;

    &.mdc-icon--small,
    &.mdc-icon--18 {
        font-size: variables.$size-small;
    }

    &.mdc-icon--medium,
    &.mdc-icon--24 {
        font-size: variables.$size-medium;
    }

    &.mdc-icon--large,
    &.mdc-icon--36 {
        font-size: variables.$size-large;
    }

    &.mdc-icon--xlarge,
    &.mdc-icon--48 {
        font-size: variables.$size-xlarge;
    }

    &.mdc-icon--dark {
        color: variables.$dark-color;
    }

    &.mdc-icon--dark.mdc-icon--inactive {
        color: variables.$dark-inactive-color;
    }

    &.mdc-icon--light {
        color: variables.$light-color;
    }

    &.mdc-icon--light.mdc-icon--inactive {
        color: variables.$light-inactive-color
    }
}