$size-small: 18px;
$size-medium: 24px;
$size-large: 36px;
$size-xlarge: 48px;
$dark-color: rgba(0, 0, 0, 0.54);
$dark-inactive-color: rgba(0, 0, 0, 0.26);
$light-color: rgba(255, 255, 255, 0.54);
$light-inactive-color: rgba(255, 255, 255, 0.3);