@import '@material/theme/mdc-theme';

.mdc-circular-progress {
    width: 100%;
    height: 100%;
    max-width: 48px;
    max-height: 48px;
    transform: rotate(-90deg);

    circle {
        fill: none;
        stroke-width: 4;
    }

    &__background {
        stroke: #d4d9dd;
    }

    &__foreground {
        stroke: $mdc-theme-primary;
    }
}