@import '@material/theme/mdc-theme';

.mdc-circular-progress {
    width: 24px;
    height: 24px;
    margin-right: 32px;

    &__foreground {
        stroke: $mdc-theme-primary;
    }

    &__background {
        stroke: #d4d9dd;
    }
}