.mdc-avatar {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    background-color: #bdbdbd;
    border-radius: 100%;
    user-select: none;

    &__image {
        width: 100%;
        border-radius: 100%;
    }

    &__text {
        font-size: 1.25rem;
    }
}

.mdc-avatar--small {
    width: 24px;
    height: 24px;
}

.mdc-avatar--large {
    width: 56px;
    height: 56px;
}