.mdc-avatar {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    user-select: none;

    &__image {
        width: 100%;
        border-radius: 100%;
    }

    &__text {
        font-size: 1.25rem;
        background-color: #bdbdbd;
        color: #fafafa;
    }
}

.mdc-avatar--small {
    width: 24px;
    height: 24px;

    .mdc-avatar__icon {
        font-size: 16px;
    }

    .mdc-avatar__text {
        font-size: 12px;
    }
}

.mdc-avatar--large {
    width: 64px;
    height: 64px;

    .mdc-avatar__icon {
        font-size: 32px;
    }

    .mdc-avatar__text {
        font-size: 32px;
    }
}