$size-small: 24px;
$size-medium: 40px;
$size-large: 64px;

$icon-font-size-small: 16px;
$icon-font-size-medium: 24px;
$icon-font-size-large: 48px;

$text-font-size-small: 12px;
$text-font-size-medium: 20px;
$text-font-size-large: 32px;