@import '@material/textfield/mdc-text-field';

.mdc-text-field--inline {
    display: inline-block;
}

.mdc-text-field {
    &.mdc-text-field--textarea {
        resize: vertical;

        &:not(.mdc-text-field--disabled) {
            border-color: rgba(0, 0, 0, 0.42);
        }
    }
}